.portfolio-container {
  width: 1180px;
}

.portfolio-box {
  margin-top: 78px;
  width: 1137px;
  height: 699px;
}

.portfolio-title-animation {
  width: 1140px;
  height: 186px;
  overflow: hidden;
}

.portfolio-title {
  color: #FFF;
  font-size: 130px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


/*  */

.portfolio-look-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.portfolio-look-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.portfolio-loog-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: white;
  margin-left: 12px;
}

/*  */


.portfolio-slider-container {
  width: 1140px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  overflow: hidden;
}

.portfolio-slider-line {
  width: 4000px;
  height: 285px;
  display: flex;
  position: relative;
  top: 5px;
  left: 0px;

  transition: 1s all ease;
}

.portfolio-img {
  padding: 5px;
  width: 362px;
  height: 275px;
  margin-left: 10px;
  margin-right: 10px;


}


/*  */


.portfolio-menu {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
}

.portfolio-menu-items {
  width: 362px;
  height: 60px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;


  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #FFF;
}

.portofilio-menu1 {}

.portofilio-menu2 {}

.portofilio-menu3 {}







@keyframes title-slide {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translate(0px);
  }
}

.portfolio-title {
  animation: 2s title-slide;
}


